DEBUG=True
MCP_RESOURCE_URL=https://dev.rag-ai.org/
SCALEKIT_AUTHORIZATION_SERVER="YOUR_SCALEKIT_AUTHORIZATION_SERVER"
MCP_RESOURCE_METADATA_URL="https://dev.rag-ai.org/.well-known/oauth-protected-resource"